on:
  pull_request:
    types: [closed]
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Update release draft
        uses: release-drafter/release-drafter@v5