name: Tests & Coverage

on:
  push:
    branches: [ main, feature/*, hotfix/* ]
    paths:
      - '**/*.py'
      - 'requirements.txt'
      - '.github/workflows/tests.yml'
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.py'
      - 'requirements.txt'
      - '.github/workflows/tests.yml'

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Test Python 3.13
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python3 -m pip install --requirement requirements.txt && \
        python3 -m pip install --force-reinstall pycares==4.9.0

    - name: Lint
      run: python3 -m ruff check .

    - name: Format
      run: python3 -m ruff format . --check
    - name: Run tests with coverage
      run: |
        pytest tests/ --cov=custom_components/volkswagen_goconnect --cov-report=xml --cov-report=term-missing

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false

  hassfest:
    name: Hassfest validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run hassfest validation
        uses: home-assistant/actions/hassfest@master

  hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - name: Run HACS validation
        uses: hacs/action@22.5.0
        with:
          category: integration
          ignore: brands
